<component name="libraryTable">
  <library name="spring-boot-starter-security-1.0.0.RC4">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-security/1.0.0.RC4/4791f0cd8ecef8e652e99c74c1eb27ab63a14c9f/spring-boot-starter-security-1.0.0.RC4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-security/1.0.0.RC4/f7b1685f976abee3a8c9902993c00538fb6c3393/spring-boot-starter-security-1.0.0.RC4-sources.jar!/" />
    </SOURCES>
  </library>
</component>