<component name="libraryTable">
  <library name="spring-boot-starter-actuator-1.0.0.RC4">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-actuator/1.0.0.RC4/8b6d7f2516d98afbf00c2aec2bd82b219c58f0fd/spring-boot-starter-actuator-1.0.0.RC4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-actuator/1.0.0.RC4/b6fbae1bf8ecaf0d67d44bf58c27f11b7acf83e6/spring-boot-starter-actuator-1.0.0.RC4-sources.jar!/" />
    </SOURCES>
  </library>
</component>