<component name="libraryTable">
  <library name="spring-boot-starter-test-1.0.0.RC4">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-test/1.0.0.RC4/75e7434d9572ae43b7b01beeb5ee203048f057e5/spring-boot-starter-test-1.0.0.RC4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-test/1.0.0.RC4/39f103a1ad50148a311b42f804a92fd349a598a/spring-boot-starter-test-1.0.0.RC4-sources.jar!/" />
    </SOURCES>
  </library>
</component>